<ng-container>
    <button class="btn btn-outline-primary me-3"(click)="get500error()">Server Error</button>
    <button class="btn btn-outline-primary me-3"(click)="get400error()">Bad Request</button>
    <button class="btn btn-outline-primary me-3"(click)="get401error()">Auth Error</button>
    <button class="btn btn-outline-primary me-3"(click)="get400Validationerror()">Invalid Post</button>
    <button class="btn btn-outline-primary me-3"(click)="get404error()">Not found</button>
</ng-container>