.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
    border: solid  rgb(255, 222, 222) 4px;
    padding: 0;
}

.card {
    background-color: rgba(240, 214, 214, 0.805);
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    border-top: none;
    /* background-color: rgb(220, 136, 136); */
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

